body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.a {
            background: white;
            padding: 50px;
            border-radius: 40px;
            width: 500px;
            text-align: left;
        }

.body {
            font-family:  sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: #d3d3d3; 
        }

.b {display: flex;
            justify-content: center;
            align-items: center;
            color:#198754
          }

.nav { background: #198754; padding: 5px; text-align: center; }
    nav a { color: white; text-decoration: none; margin: 0 80px; font-weight: bold; }